<p>You have received a message from <%= @message.name %> regarding <%= @product.name %></p>

Product: <%= @product.name %><br />
Name: <%= @message.name %><br />
Email address: <%= @message.email %><br />
Phone: <%= @message.phone %><br />
Message: <%= @message.message %><br />