<div id="subPage-main">
	<h1>Items For Sale</h1>
	<h2>Contact: <%= mail_to "amy@hoitomt.com", "E-Mail (amy@hoitomt.com)", :subject => 'Question about the Hoitomt Virtual Garage Sale' %> 
	or call Amy Hoitomt at (715) 835-7765</h2>
	<br />
	
	<% count = 1 %>
	<table>
		<tr>
	<% @products.each do |product| %>
		<td style="padding:5px;">
			<%= image_tag product.photo.url(:medium) %><br />
			<h2 style="display:inline;">Name: </h2><%=h product.name %> <br />
			<h2 style="display:inline;">Description: </h2><%=h product.description %><br />
			<h2 style="display:inline;">Price: </h2><%=h number_to_currency(product.price) %><br />
		</td>
	  <% if count%3 != 0 %>
	  
	  <% else %>
	  	</tr>
	  <% end
		count += 1 %>
	  
	<% end %>
	</table>
</div>