<%= content_for :javascript do%>
	<script type="text/javascript">

		jQuery(document).ready(function(){
		   /* portfolio gallery */
			jQuery("a[rel^='prettyPhoto']").prettyPhoto({
				animationSpeed:'slow',
				theme:'facebook',
				slideshow:2000
			});
		});
	</script>
<% end %>

<div id="header-title">
	<div class="pattern">
	    <h1>Items for Sale</h1>
	</div>
</div>
<% if current_user %>
	<div style="float:right; margin-right: 10px;">
		<h3><%= link_to 'New product', new_product_path %></h3>
	</div>
<% end %>	
<div id="main-content">
	<div id="content" class="full">
		<h2 class="main-title">
			<span>
				Contact: <%= mail_to email, 
														 "E-Mail (#{email})",
														:subject => 'Question about the Hoitomt Virtual Garage Sale' %>
			  or call Amy Hoitomt at <%= phone %>
			</span>
		</h2>
		<div id="ts-display-portfolio">
			<% @categories.each do |category| %>
				<% products = @products[category.id.to_s] %>
				<% if products && !products.empty? %>
					<h2><%= category.name %></h2>
					<ul id="ts-display-pf-col-3">
						<% count = 0 %>
						<% products.each do |product| %>
							<% count += 1%>
							<li><%= render 'product_display', :product => product %></li>
							<% if count % 3 == 0 %>
								<div class="clear"></div>
							<% end %>
						<% end %>
					</ul>
				<% else %>
					<!-- Do Nothing -->
				<% end %>	
				<div class="clear"></div>
			<% end %>
		</div><!-- ts-display-portfolio -->
	</div>
</div>

