<div id="subPage-main">
	<% form_for @product, :html => { :multipart => true } do |f| %>
		<% if @product.errors.any? %>
		  <div id="error_explanation">
		    <h2><%= pluralize(@product.errors.count, "error") %> prohibited this service_form from being saved:</h2>

		    <ul>
		    <% @product.errors.full_messages.each do |msg| %>
		      <li><%= msg %></li>
		    <% end %>
		    </ul>
		  </div>
		<% end %>
	
	  <h1>Upload Picture</h1>
	  <p>You will enter Name, Description, and Price on the next page</p>
	  <p>
		<%= f.file_field :photo %>
	  </p>
	  <p>
	    <%= f.submit 'Next' %>
	  </p>
	<% end %>
	<%= link_to 'Cancel', :back %>
</div>