<div id="nav" class="black_background">
  <div class="container_16" class="black_background">
    <ul class="nav main">
      <li class="logo"><%= link_to image_tag('logo_white_black_60_30.png'), main_path %></li>
      <li class="secondary"><%= link_to 'Contact', new_contact_path %></li>
      <li class="secondary"><%= link_to 'Resume', resume_path %></li>
      <li class="secondary"><%= link_to 'Projects', projects_path %></li>
      <li class="secondary"><%= link_to 'About', about_path %></li>
      <li class="secondary"><%= link_to 'Home', main_path %></li>
    </ul>
  </div>
</div>