<!DOCTYPE html>
<html>
	<head>
	  <title>Simple Sale</title>
		<%= render 'layouts/garage_sale/stylesheets'%>
	  <%= javascript_include_tag :defaults %>
	  <%= javascript_include_tag 'fade', 
															 'jquery-ui.min', 
															 'jquery.cycle.all.min', 
															 'jquery.prettyPhoto' %>
	  <%= csrf_meta_tag %>
		<%= yield :javascript %>
		
		<!-- Google Analytics -->
		<script type="text/javascript">

		</script>
		
	</head>
	<body>
		<div id="wrapper">
			<%= render 'layouts/garage_sale/header' %>
			<% flash.each do |name, msg| %>
		    <%= content_tag :div, msg, :id => "flash#{name}" %>
		  <% end %>
			<%= yield %>
			<%= render 'layouts/garage_sale/footer' %>
		</div>
	</body>
</html>

